<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="equipmentrecords" transaction-type="RESOURCE_LOCAL">

        <class>com.company.equipmentrecords.entity.Equipment</class>
        <class>com.company.equipmentrecords.entity.EfficiencyIndicators</class>
        <class>com.company.equipmentrecords.entity.Worker</class>
        <class>com.company.equipmentrecords.entity.EquipmentStateChange</class>
    </persistence-unit>
</persistence>
